<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ReportMapper">

<!--    查询营业额-->
    <select id="turnoverStatistics" resultType="java.lang.Double">
        select sum(amount) from orders
        where status = 5
          and order_time >= #{begins}
          and order_time &lt; #{ends}
    </select>

<!--  统计销量top10  -->
    <select id="findTop10" resultType="com.sky.dto.GoodsSalesDTO">
        select od.name, sum(od.number) as number
        from orders o, order_detail od
        where o.id = od.order_id
          and o.status = 5
          and o.order_time between #{begins} and #{ends}
        group by od.name
        order by sum(od.number) desc
        limit 10
    </select>

</mapper>