<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">
<!--    添加新商品-->
    <insert id="insert">
        insert into shopping_cart(name, image, user_id, dish_id, setmeal_id, dish_flavor, number, amount, create_time)
                    VALUES (#{name},#{image},#{userId},#{dishId},#{setmealId},#{dishFlavor},#{number},#{amount},#{createTime})
    </insert>

    <!--    更新商品信息-->
    <update id="updateByUserId">
        update shopping_cart set number = #{number}
        <where>
            <if test="userId!=null"> and user_id=#{userId}</if>
            <if test="dishId!=null"> and dish_id=#{dishId}</if>
            <if test="setmealId!=null"> and setmeal_id=#{setmealId}</if>
            <if test="dishFlavor!=null"> and dish_flavor=#{dishFlavor}</if>
        </where>
    </update>

    <!--    查询是否存在-->
    <select id="find" resultType="com.sky.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId!=null"> and user_id=#{userId}</if>
            <if test="dishId!=null"> and dish_id=#{dishId}</if>
            <if test="setmealId!=null"> and setmeal_id=#{setmealId}</if>
            <if test="dishFlavor!=null"> and dish_flavor=#{dishFlavor}</if>
        </where>
    </select>

<!--    查看购物车-->
    <select id="getByUserId" resultType="com.sky.entity.ShoppingCart">
        select * from shopping_cart where user_id = #{userId}
    </select>

<!--    删除一个商品-->
    <delete id="deleteOne">
        delete from shopping_cart
        <where>
            <if test="userId!=null"> and user_id=#{userId}</if>
            <if test="setmealId!=null"> and setmeal_id=#{setmealId}</if>
            <if test="dishId!=null"> and dish_id=#{dishId}</if>
            <if test="dishFlavor!=null"> and dish_flavor=#{dishFlavor}</if>
        </where>
    </delete>

    <insert id="insertBatch" parameterType="list">
        insert into shopping_cart
        (name, image, user_id, dish_id, setmeal_id, dish_flavor, number, amount, create_time)
        values
        <foreach collection="shoppingCartList" item="sc" separator=",">
            (#{sc.name},#{sc.image},#{sc.userId},#{sc.dishId},#{sc.setmealId},#{sc.dishFlavor},#{sc.number},#{sc.amount},#{sc.createTime})
        </foreach>
    </insert>


</mapper>